admin_password  = "yoursecurepassword"
admin_username  = "admin"
old_password    = "123456"
vpc_id_fse      = "vpc-12333"
se_subnet_id    = "subnet-123456"
image-size      = "m4.2xlarge"
controller_name = "remo-Controller-tf"
public_ip       = "true"
shutdown_rules  = "noshut"
department_name = "FSE Team"
myregion        = "us-west-2"
remo_sg_name    = "remo_sg_ctl"
profile         = "default"
owner           = "remo"
