dist: trusty
sudo: false
language: go
go:
- 1.9.1

install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh
- go get github.com/kardianos/govendor
- go get github.com/avinetworks/sdk/go/clients
- go get github.com/avinetworks/sdk/go/session

script:
- make
- make test

branches:
  only:
  - master
matrix:
  fast_finish: true
  allow_failures:
  - go: tip

