admin_password  = "yoursecurepassword"
admin_username  = "admin"
old_password    = "123456"
vpc_id_fse      = "vpc-12333"
se_subnet_id    = "subnet-123456"
image-size      = "m4.2xlarge"
controller_name = "remo-Controller-tf"
public_ip       = "true"
shutdown_rules  = "noshut"
department_name = "FSE Team"
myregion        = "us-west-2"
avi_sg_name    = "remo_sg_ctl"
profile         = "default"
owner           = "remo"
aws_secret_key = "yoursecrectkey"
aws_access_key = "youraccesskey"
trusted_cidr    = ["0.0.0.0/0","10.155.251.0/24", "10.155.252.0/24", "10.155.253.0/24"]
